%h1 Create order
=simple_form_for @order, html: {class: 'mt-4'} do |f|
  =f.input :title
  =f.input :price
  =f.input :date, as: :date, html5: true
  .form-group
    =label_tag(:user_query, 'Assign to user:')
    .d-flex.align-items-center.order-form__user-search-wrapper
      =button_tag 'Button', type: 'button',
                   class: 'btn order-form__user-search-btn' do
        %i.fa.fa-search.fa-icon
      =text_field_tag :user_query, nil,
                      class: 'form-control order-form__user-search-input'
    %div.mt-1#user-search-result
    =f.hidden_field :user_id, required: true
  =f.input :description
  =f.button :submit, class: 'btn-primary mt-2'
