@import 'bootstrap';
@import 'font-awesome';

body {
  padding: 30px 0;
}

.fa-icon {
  font-size: 20px;
}

.order-form {
  &__user-search-wrapper {
    position: relative;
  }

  &__user-search-input {
    padding-left: 40px;
  }

  &__user-search-btn {
    left: 0;
    position: absolute;
    top: 0;
  }

  &__user-search-result {
    background: #edecec;
    display: inline-block;
    padding: 5px 15px;
  }
}
